nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ul li a {
    test-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
}

nav ul li a:hover {
    color: white;
    background-color: lightblue;
    border-radius: 5px;
}


body {
    font-family: Arial, sans-serif;
}
