.nav-box {
    border: 2px solid black;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: lightgray;
}

nav {
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0 0px;
    margin: 0;
    width: 100%;
}


body {
    font-family: Arial, sans-serif;
}
